body{
    transition: .4s;
}

@keyframes darkAnimation {

    0%{
        opacity: 1;

    }
    50%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@media screen and ( max-height: 600px ){
    body{
        & main{
            overflow: hidden;
            margin-top: 200px;
            & .header-container {
                top: 0;
                left: 0;
                right: -30px;
                position:fixed;
                & .hamburger-icon{
                    margin-left: 30px;
                }

                & .switch{
                    position: relative;
                    transform: translateX(0px);
                }
            }
        }
    }
 
}
@media screen and ( max-height: $media-width-450px ){
    body{
        & main{
            padding: 0;
            margin-top: 200px;
            & .header-container {
                position:fixed;
            }

            & .switch{
                position: relative;
                transform: translateX(50px);
            } 
        }
    }
}


.socials{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    position: fixed;
    top:40%;
    right:20px;
    row-gap: 10px;
    z-index: 999;
    transition: .5s;
    & > :before{
        content: '';
        height:50px;
        width: 3px;
        position: absolute;
        left:10px;
        bottom:120px;
        border-radius: 20px;
        background: $background-color-dark-black;
    }
    & > :after{
            content: '';
            height:50px;
            width: 3px;
            position: absolute;
            left:11px;
            top:120px;
            border-radius: 20px;
            background: $background-color-dark-black;
        }
    & > a i{
        font-size: $font-size-30;
        transition: 5ms;
        transition: .3s;
       
    }
    & > a i:hover{
        transform: scale(1.2);
       
    }
    & > a .icon-likedin {
        color: $background-color-blue-1;
    }

    & > a .icon-xing{
        color: $background-color-green-1;
    }
    & > a .icon-facebook{
        color: $background-color-blue-2;
    }

}

