
@media screen and ( max-height: 600px ){
    body{
        & main{
            margin-top: 200px;
            & .header-container {
                top: 0;
                left: 0;
                right: -30px;
                position:fixed;
                & .hamburger-icon{
                    margin-left: 30px;
                }

                & .switch{
                    position: relative;
                    transform: translateX(0px);
                }
            }
        }

    }
 
}
@media screen and ( max-height: 420px ){
    body{
        & main{
            margin-top: 200px;
            & .header-container {
                position:fixed;
            }

            & .switch{
                position: relative;
                transform: translateX(50px);
            }
         
        }
    }
 
}


.socials{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    position: fixed;
    top:40%;
    right:20px;
    row-gap: 10px;
    z-index: 999;
    & > :before{
        content: '';
        height:50px;
        width: 3px;
        position: absolute;
        left:10px;
        bottom:120px;
        border-radius: 20px;
        background: $background-color-dark-black;
    }
    & > :after{
            content: '';
            height:50px;
            width: 3px;
            position: absolute;
            left:11px;
            top:120px;
            border-radius: 20px;
            background: black;
        }
    & > a i{
        font-size: 30px;
        transition: 5ms;
       
    }
    & > a i:hover{
        transform: scale(1.2);
       
    }
    & > a .icon-likedin {
        color: rgb(0, 166, 255);
    }

    & > a .icon-xing{
        color: rgb(0, 247, 173);
    }
    & > a .icon-facebook{
        color: rgb(0, 166, 255);
    }

}

