
.datenschutzBox{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        margin-top: -250px;
        padding-top: 340px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        z-index: 111;
        transition: 0.5s;
   
        backdrop-filter: blur(5px);
        & .datenschutz-content{
            background-color: rgba(247, 247, 247, 0.881);
            backdrop-filter: blur(50px);
            margin: auto;
            padding: 30px;
            border-radius: 15px;
            width: 80%;
            height:70%;
            font-size: 100px;
            z-index: 9999;
            transition: 0.5s;
            overflow-y:scroll; ; 
            box-shadow: 6px 12px 35px 6px rgba(65, 65, 65, 0.75);
            color:black;
            & span{
                font-size: 28px;
            }
            & h1{
                font-size: $font-size-50;
            }
            & h2{
                font-size: $font-size-40;
            }
            & p{
                font-size: $font-size-25;
            }
            & ul{
                font-size: $font-size-25;
            }
        }
          /* The Close Button */
         & #closeDa{
            cursor: pointer;
            color: #aaaaaa;
            float: right;
            font-size: $font-size-40;
            font-weight: bold;
            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                transform: scale(1.2);
            }
        }


        @media only screen and(max-width: $media-width-850px) {
            & .datenschutz-content{
                width: 80%;
                height:65%;
                & h1{
                    font-size: $font-size-35;
                }
                & h2{
                    font-size: $font-size-30;
                }
                & p{
                    font-size: $font-size-20;
                }
                & ul{
                    font-size: $font-size-20;
                }
            }
        }
        @media only screen and(max-width: $media-width-850px) {
            & .datenschutz-content{
                width: 80%;
                height:80%;
                & h1{
                    font-size: $font-size-30;
                }
                & h2{
                    font-size: $font-size-25;
                }
                & p{
                    font-size: $font-size-17;
                }
                & ul{
                    font-size: $font-size-17;
                }
            }
        }
}