.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding-top: 100px;
    & h1 {
        font-size: $font-size-60;
        color: $font-color-black;
        text-transform: uppercase;
    }
    ul {
        padding: 50px 5px;
        display: inline-block;
        & li {
            position: relative;
            list-style: none;
            width: 3px;
            background-color: $background-color-dark-black;
            color: $font-color-black;
            margin: 0 auto;
            padding-top: 50px;

            
            &:hover > .project-item {
                box-shadow: 6px 9px 44px -14px rgba(0, 0, 0, 0.64);
                transform: scale(1.1);
            }
        

            & time {
                width: 300px;
                font-weight: bold;
                font-size: $font-size-50;
                display: block;
                margin-top: -65px;
                margin-bottom: 30px;
                margin-left: 50px;
            }


            &::after {
                background: $background-color-dark-black;
                content: '';
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0px;
         
            }

            & .project-item {
                display:inline-block;
                position: relative;
                visibility: hidden;
                opacity: 0;
                transition: all .5s ease-in-out;
                width: 350px;
                padding: 10px;
                border-radius: 10px;
                bottom: 10px;
                overflow: hidden;
                padding-bottom: 20px;
                background: $background-color-White;
                box-shadow: 6px 9px 35px -10px rgba(53, 53, 53, 0.24);
     
                &:hover {
                    box-shadow: 6px 9px 44px -14px rgba(0, 0, 0, 0.64);
                    transform: scale(1.1);
                }
          
                & h2 {
                    color: $font-color-black;
                    margin-left: 10px;
                    font-size: $font-size-30;
                }

                & p {
                    color: $font-color-black;
                    font-size: $font-size-20;
                    padding: 10px;
                }
         

                & a {
                    display:inline-block;
                    cursor: pointer;
                    font-size: $font-size-25;
                    padding: 15px;
                    transition: .3s ;
                    &:hover {
                        color: rgb(0, 119, 255);
                        font-size: $font-size-25;
                        font-weight: bold;
                        transform: scale(1.1)
                    }

                }
            }

            &:nth-child(odd) div {
                left: 45px;
            }

            &:nth-child(even) div {
                left: -410px;
            }

            & img {
                max-width: 100%;
                border-radius: 10px;
                background-color: $background-color-aliceblue-blue;
            }

            &:nth-child(even) time{
                margin-left: -150px;
            }
            &:nth-child(odd) > .project-item {
                transform: translate3d(200px, 200px, 0);
                & div{
                    font-size: $font-size-30;
                    display:flex;
                    position: absolute;
                    bottom: 0;
                    width:fit-content;
                    right: -10px;
                    & div{
                        position: relative;
                        display:flex;
                        flex-direction: row;
                        right:0;
                        & i{
                            cursor: pointer;
                            position: relative;
                            transform:translateX(300px);
                            bottom: 30px;
                            margin: 5px;
                            transition: 0.5s;

                            &:hover{
                                color: $background-color-blue-2;
                            }
                
                        }
                        & li:nth-child(1){
                            top:10px;
                        }
                        & li:nth-child(2){
                            top:-10px;
                        }
                    }
                }
                &:hover{
                    & div{
                        & i{
                            transform:translateX(175px);
                            bottom: 30px;
                            margin: 5px;
                        }

                    }
                }
                &:active{
                    & div{
                        & i{
                            transform:translateX(175px);
                            bottom: 30px;
                            margin: 5px;
                        }

                    }
                }

            }

            &:nth-child(even) .project-item {
                overflow: hidden;
                transform: translate3d(-200px, 200px, 0);
                & div{
                    font-size: $font-size-30;
                    height: 0;
                    & div{
                        display:inline-block;
                        flex-direction: column;
                        position: relative;
                        transform:translateX(870px);
                        transition: .5s;
                         & i{
                            cursor: pointer;
                            position: relative;
                            transition: .5s;
                            right:0;
                            transform:translateY(-46px);
                            margin: 5px;
                            &:hover{
                                color: $background-color-blue-2;
                            }
                
                        }
                        & li:nth-child(1){
                            top:10px;
                        }
                        & li:nth-child(2){
                            top:-10px;
                        }
                    }
               
                }
                &:hover{
                    & div div{
                        transform:translateX(660px);
                    }
                }  
                &:active{
                    & div div{
                        transform:translateX(660px);
                    }
                }  
              
                @media screen and (max-width: 750px) {
                    transform: translate3d(200px, 200px, 0);
                }
            }
        }

        & li.active  {
            & .project-item {
            transform: none;
            visibility: visible;
            opacity: 1;
            }
        }
    }

    @media screen and (max-width: $media-width-980px) {
        ul li .project-item{
            width: 250px;
        }

        ul li:nth-child(odd) > .project-item {
            & div{
                & div{
                    & i{
                        transform:translateX(200px);
                    }
                }
            }
            &:hover{
                & div{
                    & i{
                        transform:translateX(85px);
                    }

                }
            }
            &:active{
                & div{
                    & i{
                        transform:translateX(175px);
                    }

                }
            }

        }

        ul li:nth-child(even) .project-item {
            & div{
                & div{
                    display:inline-block;
                    flex-direction: column;
                    position: relative;
                    transform:translateX(670px);
                    transition: .5s;
                     & i{

                        transform:translateY(-46px);
            
                    }
                    & li:nth-child(1){
                        top:10px;
                    }
                    & li:nth-child(2){
                        top:-10px;
                    }
                }
           
            }
            &:hover{
                & div div{
                    transform:translateX(460px);
                }
            }  
            &:active{
                & div div{
                    transform:translateX(460px);
                }
            }  
        
        }

        ul li:nth-child(even) div {
            left: -309px;
        }
    }

    @media screen and (max-width: $media-width-750px) {
        align-items: start;
        h1 {
            font-size: $font-size-60;
            margin-left: 30%;
        }

        div {
            margin-left: 20px;

        
            ul {
                position: relative;
                left: 10px;

                & li {
                    padding-bottom: 40px;

                    & time {
                        font-size: $font-size-40;
                        margin-left: 65px;
                    }
                    
                    &:nth-child(even) time{
                        margin-left: 65px;
                    }
                    & .project-item {
                        width: 250px;
                        padding-bottom: 20px;

                        & p {
                            font-size: $font-size-20;
                            padding: 10px;
                        }

              
                & a {
                    font-size: $font-size-20;
           
                    &:hover {
                          font-size: $font-size-20;
                    }
           

                }
                    }

                    &:nth-child(odd) div {
                        left: 45px;

                    }

                    &:nth-child(even) div {
                        left: 45px;
                    }
                }
            }

            ul li:nth-child(odd) > .project-item {
                & div{
                    & div{
                        & i{
                            transform:translateX(200px);
                        }
                    }
                }
                &:hover{
                    & div{
                        & i{
                            transform:translateX(25px);
                        }
    
                    }
                }
                &:active{
                    & div{
                        & i{
                            transform:translateX(175px);
                        }
    
                    }
                }
    
            }
    
            ul li:nth-child(even) .project-item {
                & div{
                    & div{
                        transition: .5s;
                         & i{
                              transform:translateY(-46px);
                        }

                    }
               
                }
                &:hover{
                    & div div{
                        transform:translateX(60px);
                    }
                }  
                &:active{
                    & div div{
                        transform:translateX(460px);
                    }
                }  
            
            }
        }
    }

    @media screen and (max-width: $media-width-450px) {
        align-items: start;

        h1 {
            font-size: $font-size-40;
        }

        div {
            margin-left: 0px;

            ul li .project-item {
                & div{
                    & div{
                        & i{
                            position: relative;
                            top:-20px;
                            left:20px;
                            transform:translateX(200px);
                        }
                          
                    }
                }
                &:hover{
                    & div{
                        & i{
                            transform:translateX(411px);
                            transform:translateY(17px);
                        }
    
                    }
                }
                &:active{
                    & div{
                        & i{
                            transform:translateX(175px);
                        }
    
                    }
                }
    
            }
    
            ul li:nth-child(even) .project-item {
                & div{
                    & div{
                        & i{
                            top:15px;
                            left:0px;
                        }
                          
                    }
                }
    
            }
            ul li:nth-child(odd) .project-item {
                & div{
                    & div{
                        & i{
                            top:-15px;
                            left:0px;
                        }
                          
                    }
                }
    
            }

            ///............................................

            ul {
                position: relative;
                left: 10px;

                & li {
                    padding-bottom: 40px;

                    & time {
                        font-size: $font-size-40;
                        padding-top: 5px;
                        margin-left: 45px;
                    }

                    &:nth-child(even) time{
                        margin-left: 50px;
                    }

                    & .project-item {
                        width: 190px;
                        padding-bottom: 20px;
                        & h2 {
                            font-size: $font-size-25;
                        }
                        & p {
                            font-size: $font-size-15;
                            padding: 10px;
                        }
                        & a{
                            margin:0;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}
