.skills-container {
    display:flex;
    justify-content:center;;
    align-items:center;
    flex-direction:column;
    transition:  0.5s linear ease-in-out;
    height:100vh;
    min-height: fit-content;
    

    & h1 {   
        font-size: $font-size-60;
        transition:  0.5s linear ease-in-out;
    }

    & .skills{
        display:flex;
        justify-content:center;;
        align-items:center;
        flex-direction:row;
        flex-wrap: wrap;
        max-width: 600px;
        transition:  0.5s linear ease-in-out;
        & .skill{
            display:flex;
            justify-content:center;;
            align-items:center;
            flex-direction:column;
            background-color:$background-color-White;
            box-shadow: 6px 9px 15px 1px rgba(8, 8, 8, 0.172);
            margin: 15px;
            min-width: 100px;
            min-height: 100px;
            padding: 10px;
            border-radius: 10px;
            transition:  0.5s ease-in-out;

            &:hover{
                animation: rotate 1s ease-in-out;
            }

            @keyframes rotate {
                0%{
                    transform: rotate(20deg);
                }
        
                100%{
                    transform: rotate(0deg);
                }
                
            }
        }
        & img{
            width:50px;
        }
        & span{
            font-size: $font-size-30;
        }
    }
    @media screen and (max-width: $media-width-600px) {
        h1 {
            font-size: $font-size-50;
        }

        & .skills{
            & .skill{
                min-width: 80px;
                min-height:80px;
                & span{
                    font-size: $font-size-25;
                }
            }
    	}
    }

    @media screen and (max-width: $media-width-450px) {
        h1 {
            font-size: $font-size-40;
        }

        & .skills{
            & .skill{
                min-width: 70px;
                min-height:70px;
                & span{
                    font-size: $font-size-25;
                }
            }
    	}
    }
}