.works-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 37%;
    height:fit-content;
    transition: 1s;
    overflow:hidden;

    & h1{
        font-size:$font-size-60;
        margin-left: 15%;
    }

    & ul{
        list-style: none;
        max-width: 800px;
        & time{
            font-size:$font-size-50;
            font-style: bold;
        }
        & h2{
            font-size:$font-size-40;
        }
        & p{
            font-size:$font-size-30;
        }
       & li {
            position:relative;
            list-style: none;
            width: 3px;
            background-color: $background-color-dark-black;
            color: $font-color-black;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
            
            &  time {
                font-weight: bold;
                font-size: $font-size-50;
                display: block;
                margin-top: -75px;
                margin-bottom: 30px;
                margin-left: 155px;
                
            }
            &::after {
                background: $background-color-dark-black;
                content: '';
                width: 105px;
                height: 5px;
                border-radius: 2px;
                position:absolute;
                left:53px;
                transform: translateX(-50%);
                top: 0px;
                }
                &::before {
                    background: $background-color-dark-black;
                    content: '';
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    position:absolute;
                    left:0px;
                    transform: translateX(-50%);
                    top: -5px;
                    }
            & div{
                position: relative;
                width: 350px;
                padding: 10px;
                border-radius: 10px;
                bottom: 10px;
                padding-bottom: 30px;
                background: $background-color-White;
                box-shadow: 6px 9px 35px -10px rgba(53, 53, 53, 0.24);
                &:hover{
                    box-shadow: 6px 9px 44px -14px rgba(0,0,0,0.64);
                    transform:scale(1.2)
                }
                & h2{
                    color: $font-color-black;
                    margin-left: 10px;
                }
                &  p {
                    color: $font-color-black;
                    font-size:$font-size-20;
                    padding: 10px;
                }
                &  a{
                    cursor: pointer;
                    font-size:$font-size-25;
                    padding:15px;
                    &:hover{
                       color: $font-color-red;
                       font-size:$font-size-25;
                       transform:scale(1.2)
                    }

                }
            }
            & div {
                left: 45px;
            }
            & img{
                max-width: 100%;
                border-radius: 10px;
                background-color: $background-color-aliceblue-blue;
            }
      
            & div {
                visibility: hidden;
                opacity: 0;
                transition: all .5s ease-in-out;
            }
              
            &:nth-child(odd) div {
                transform: translate3d(200px, 200px, 0);
            }
            
            &:nth-child(even) div {
                 transform: translate3d(200px, 200px, 0);
            }   	
        }
        li.show div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }
    }

            
    @media screen and (max-width: $media-width-850px) {
        margin-left: 20%;
        & h1{
            font-size:$font-size-60;
            margin-left: 5%;
        }
        & ul{
            list-style: none;
            max-width: 400px;
            & li{

                & time{
                    margin-left: 145px;
                    font-size: $font-size-40;
                }
                & div{
                    width: 250px;
                }
            }
        }
    }
    @media screen and (max-width: $media-width-750px){
        margin-left: 2%;
    }
                
    @media screen and (max-width: $media-width-450px) {
        margin-left: -8%;
        & h1{
            font-size:$font-size-40;
            margin-left: 5%;
        }
        & ul{
            & li{
                & time{
                    margin-left: 130px;
                    font-size: $font-size-40;
                }
                & div{
                    width: 200px;

                    & h2{
                        font-size: $font-size-30; 
                    }
                    & p{
                        font-size: $font-size-20; 
                    }
                }
            }
        }
    }
}


