$background-color-White: white;
$background-color-light: #FCFAFA;
$background-color-light-2: rgb(211, 211, 211);
$background-color-dark-black: black;
$background-color-dark-main: #1d2528;
$background-color-dark-hell-1: #5b696f;
$background-color-dark-hell-2: #37464d;
$background-color-dark-hell-3: #676e7167;
$background-color-dark-hell-4: #232c31;
$background-color-red: red;
$background-color-blue: blue;
$background-color-blue-1: rgb(1, 196, 255);
$background-color-blue-2:rgb(1, 153, 255);
$background-color-aliceblue-blue:aliceblue;
$background-color-green:green;
$background-color-green-1:rgb(0, 247, 173);

$font-color-red: red;
$font-color-white: white;
$font-color-black: black;

$font-size-10: 10px;
$font-size-15: 15px;
$font-size-20: 20px;
$font-size-25: 25px;
$font-size-30: 30px;
$font-size-35: 35px;
$font-size-40: 40px;
$font-size-45: 45px;
$font-size-50: 50px;
$font-size-55: 55px;
$font-size-60: 60px;

$line-height: .05px;
$media-width-450px: 450px;
$media-width-750px: 750px;
$media-width-850px: 850px;
$media-width-980px: 980px;
$media-width-1150px: 1200px;
