$backgorund-color-White: rgb(255, 255, 255);
$backgorund-color-light: rgb(219, 219, 219);
$backgorund-color-Dark: rgb(0, 0, 0);
$backgorund-color-Orange: #dfa974;
$font-color-red: red;

$line-height: .05px;
$media-width-450px: 450px;
$media-width-850px: 850px;
$media-width-1150px: 1200px;
