$background-color-White: white;
$background-color-light: rgb(219, 219, 219);
$background-color-dark-black: black;
$background-color-dark-main: #1d2528;
$background-color-dark-hell-1: #5b696f;
$background-color-dark-hell-2: #37464d;
$background-color-red: red;

$font-color-red: red;
$font-color-white: white;
$font-color-black: black;


$line-height: .05px;
$media-width-450px: 450px;
$media-width-850px: 850px;
$media-width-1150px: 1200px;
